<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.pageh.helper" android:versionCode="5" android:versionName="0.3.1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries>
    <application android:label="掌阅水波纹助手" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:supportsRtl="true" android:debuggable="true">
        <activity android:name=".AboutActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <activity android:name=".TestReaderActivity" android:process=":reader" android:exported="false" />
        <service android:name=".PageService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true" android:label="掌阅水波纹 · 翻页服务">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService"/></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility"/>
        </service>
    </application>
</manifest>
